<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>公告管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../layuimini/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../layuimini/css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">公告标题</label>
                            <div class="layui-input-inline">
                                <input type="text" name="title" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>
                <button class="layui-btn layui-btn-sm layui-btn-warm data-enable-btn" lay-event="enable"> 启用 </button>
                <button class="layui-btn layui-btn-sm layui-btn-primary data-disable-btn" lay-event="disable"> 禁用 </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
            {{# if(d.isActive === 1){ }}
            <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="disable">禁用</a>
            {{# } else { }}
            <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="enable">启用</a>
            {{# } }}
        </script>

    </div>
</div>
<script src="../layuimini/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'table', 'laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            laydate = layui.laydate;

        table.render({
            elem: '#currentTableId',
            url: '../notice/queryNoticesByPage',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [[
                {type: "checkbox", width: 50},
                {field: 'noticeId', width: 80, title: 'ID', sort: true},
                {field: 'title', width: 200, title: '标题'},
                {field: 'content', width: 400, title: '内容'},
                {field: 'createTime', width: 180, title: '创建时间', sort: true},
                {field: 'isActive', width: 100, title: '状态', sort: true, templet: function(d) {
                    return d.isActive === 1 ? '<span style="color: green">启用</span>' : '<span style="color: red">禁用</span>';
                }},
                {title: '操作', minWidth: 220, toolbar: '#currentTableBar', align: "center"}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            skin: 'line'
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var result = data.field;
            
            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    title: result.title
                }
            }, 'data');

            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '添加公告',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: 'notice_add.html',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                if(data.length === 0) {
                    layer.msg('请至少选择一行数据');
                    return;
                }
                
                layer.confirm('真的要删除选中的公告吗？', function (index) {
                    var noticeIds = [];
                    for(var i = 0; i < data.length; i++) {
                        noticeIds.push(data[i].noticeId);
                    }
                    
                    // 执行批量删除
                    var deleteCount = 0;
                    var total = noticeIds.length;
                    
                    function deleteNext(i) {
                        if (i >= noticeIds.length) {
                            layer.msg('删除成功：' + deleteCount + '/' + total, {icon: 1});
                            table.reload('currentTableId');
                            return;
                        }
                        
                        $.ajax({
                            url: '../notice/deleteNotice',
                            data: {
                                noticeId: noticeIds[i]
                            },
                            type: 'post',
                            dataType: 'json',
                            success: function(res) {
                                if (res > 0) {
                                    deleteCount++;
                                }
                                deleteNext(i + 1);
                            },
                            error: function() {
                                deleteNext(i + 1);
                            }
                        });
                    }
                    
                    deleteNext(0);
                    layer.close(index);
                });
            } else if (obj.event === 'enable') {  // 启用操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                if(data.length === 0) {
                    layer.msg('请至少选择一行数据');
                    return;
                }
                
                layer.confirm('确定要启用选中的公告吗？', function (index) {
                    var noticeIds = [];
                    for(var i = 0; i < data.length; i++) {
                        noticeIds.push(data[i].noticeId);
                    }
                    
                    // 执行批量启用
                    var successCount = 0;
                    var total = noticeIds.length;
                    
                    function updateNext(i) {
                        if (i >= noticeIds.length) {
                            layer.msg('启用成功：' + successCount + '/' + total, {icon: 1});
                            table.reload('currentTableId');
                            return;
                        }
                        
                        $.ajax({
                            url: '../notice/updateNotice',
                            data: {
                                json: JSON.stringify({
                                    noticeId: noticeIds[i],
                                    isActive: 1
                                })
                            },
                            type: 'post',
                            dataType: 'json',
                            success: function(res) {
                                if (res > 0) {
                                    successCount++;
                                }
                                updateNext(i + 1);
                            },
                            error: function() {
                                updateNext(i + 1);
                            }
                        });
                    }
                    
                    updateNext(0);
                    layer.close(index);
                });
            } else if (obj.event === 'disable') {  // 禁用操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                if(data.length === 0) {
                    layer.msg('请至少选择一行数据');
                    return;
                }
                
                layer.confirm('确定要禁用选中的公告吗？', function (index) {
                    var noticeIds = [];
                    for(var i = 0; i < data.length; i++) {
                        noticeIds.push(data[i].noticeId);
                    }
                    
                    // 执行批量禁用
                    var successCount = 0;
                    var total = noticeIds.length;
                    
                    function updateNext(i) {
                        if (i >= noticeIds.length) {
                            layer.msg('禁用成功：' + successCount + '/' + total, {icon: 1});
                            table.reload('currentTableId');
                            return;
                        }
                        
                        $.ajax({
                            url: '../notice/updateNotice',
                            data: {
                                json: JSON.stringify({
                                    noticeId: noticeIds[i],
                                    isActive: 0
                                })
                            },
                            type: 'post',
                            dataType: 'json',
                            success: function(res) {
                                if (res > 0) {
                                    successCount++;
                                }
                                updateNext(i + 1);
                            },
                            error: function() {
                                updateNext(i + 1);
                            }
                        });
                    }
                    
                    updateNext(0);
                    layer.close(index);
                });
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                var index = layer.open({
                    title: '编辑公告',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: 'notice_edit.html?noticeId=' + data.noticeId,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('确定删除该公告吗？', function (index) {
                    $.ajax({
                        url: '../notice/deleteNotice',
                        data: {
                            noticeId: data.noticeId
                        },
                        type: 'post',
                        dataType: 'json',
                        success: function(res) {
                            if(res === 1) {
                                layer.msg('删除成功', {icon: 1});
                                obj.del();
                            } else {
                                layer.msg('删除失败', {icon: 2});
                            }
                        }
                    });
                    layer.close(index);
                });
            } else if (obj.event === 'enable') {
                layer.confirm('确定启用该公告吗？', function (index) {
                    $.ajax({
                        url: '../notice/updateNotice',
                        data: {
                            json: JSON.stringify({
                                noticeId: data.noticeId,
                                isActive: 1
                            })
                        },
                        type: 'post',
                        dataType: 'json',
                        success: function(res) {
                            if(res === 1) {
                                layer.msg('启用成功', {icon: 1});
                                table.reload('currentTableId');
                            } else {
                                layer.msg('启用失败', {icon: 2});
                            }
                        }
                    });
                    layer.close(index);
                });
            } else if (obj.event === 'disable') {
                layer.confirm('确定禁用该公告吗？', function (index) {
                    $.ajax({
                        url: '../notice/updateNotice',
                        data: {
                            json: JSON.stringify({
                                noticeId: data.noticeId,
                                isActive: 0
                            })
                        },
                        type: 'post',
                        dataType: 'json',
                        success: function(res) {
                            if(res === 1) {
                                layer.msg('禁用成功', {icon: 1});
                                table.reload('currentTableId');
                            } else {
                                layer.msg('禁用失败', {icon: 2});
                            }
                        }
                    });
                    layer.close(index);
                });
            }
        });

    });
</script>
</body>
</html> 